#display {
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#instructions{
    font-family: Arial;
    text-align: center;
    margin: 0 0 25px;
    border: 2px solid black;
}
#options{
  text-align: center;
}
select{
  font-family: Arial;
  height: 45px;
  width: 100px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 8px;
}
button{
    font-family: Arial;
    height: 45px;
    width: 100px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 8px;
}
